; This configuration file controls the database connection type
; (which in turn controls the database vendor), and connection parameters.
; If you're using MySQL on the local machine with the default user and password
; and a single branch, there will be no need to edit this file.

; This controls which connection class to use.
; The connection class must match the database type (vendor) you're running.
; Uncomment only one connectionClass value.

; Named connections follow.
; Each named connection can optionally get its default parameters from a specified "template"
; connectino which is defined somewhere above it, so it only needs to override the parameters
; which are not the same as those of its template connection.

; Connection parameters for the first (default) database connection.
[erp]
connectionClass=MySQLiConnection
server=localhost
username=erp
password=123eRp321
database=erp
description="Corporate Office"
showInList=Yes
vhost=*
uriPrefix=/erp/corp
tableToDatabaseMap=group:securitycommon:erp_common,group:basecommon:erp_common,group:bank:erp_common,group:gl:erp_common,group:ap:erp_common,group:ar:erp_common,group:hardware:erp_common,group:invcommon:erp_common,group:purcommon:erp_common,group:salescommon:erp_common

; Connection parameters for other database connections.
;[erp_store1]
;template=erp
;database=erp_store1
;description="Store #1"
;uriPrefix=/erp/store1

;[erp_store2]
;template=erp
;database=erp_store2
;description="Store #2"
;uriPrefix=/erp/store2

; Connection parameters for the common database connection.
; This database will contain table groups which are shared by other databases.
; Note that uriPrefix is set to a string which cannot be matched at the
; beginning of a URI.  This is because this database does not contain all of
; the table groups (only the shared ones).
; Also note that showInList=No.  This prevents this database from showing up
; in the list of databases in which the user can select to work.
[erp_common]
template=erp
database=erp_common
description="Common Area"
showInList=No
uriPrefix=--never match--
; This must exist, and must be empty, in order to override the table-to-database mapping for the template connection.
tableToDatabaseMap=
